<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="notification is-danger">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    {{ form.email(class_="input is-large") }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                   {{ form.name(class_="input is-large") }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.password(class_="input is-large") }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.password_confirm(class_="input is-large") }}
                </div>
            </div>
            <div class="field">
                {{ form.doctor }}
                {{ form.doctor.label(class_="checkbox") }}
            </div>
            {{ form.hidden_tag() }}

            {{ form.submit(class_="button is-block is-info is-large is-fullwidth") }}

        </form>
    </div>
</div>
{% endblock %}