[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-email = "*"
flask-mail = "*"
flask-wtf = "*"
flask-sslify = "*"

[dev-packages]

[requires]
python_version = "3.7"
